<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.NightfallAndroidPreferenceBridge"
            android:value="space.manus.nightfall.bridge.NightfallAndroidPreferenceBridge" />
    </application>
</manifest>
